<div class="card col-6 my-3">
    <img src="https://picsum.photos/id/{{post.id}}/400/250/." class="card-img-top" alt="...">
    <div class="card-body">
        <!--    <h5 class="card-title">Card title</h5>-->
        <p class="card-text">{{post.content}}</p>
        <a href="{% url 'posts:update' post.id %}">
            <button type="button" class="btn btn-outline-warning">수정</button>
        </a>
        <a href="{% url 'posts:delete' post.id %}">
            <button type="button" class="btn btn-outline-danger">삭제</button>
        </a>

        <!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
    </div>
</div>